.settingsBoxContainer {
	display: flex;

	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-evenly;

	.setting {
		margin: 15px;
		flex: 0 1 540px;
		color: var(--light-font-color);
		background-color: var(--background-major);
		padding: 10px;
		height: calc(100vh * 0.25);
		border-radius: 15px;
		box-shadow: var(--pretty-box-shadow-dark);
		display: flex;
		flex-direction: column;

		.settingBoxTitle {
			text-align: center;
			font-size: 20px;
			font-weight: 600;
		}
		.settingBoxContent {
			padding: 15px;
		}
	}
}
