#tutorialBox {
	width: 50%;
	border-radius: 15px;
	padding: 15px;
	background-color: rgb(26, 28, 29);
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	#presetContainer {
		display: flex;
		justify-content: center;
	}
}
