#searchBar {
	width: 100%;
	height: var(--searchbar-whitespace-height);
	padding: calc(3 * var(--primary-padding)) 0;
	input {
		margin: auto;
		display: block;
		width: 100%;
		max-width: 700px;
		font-size: 13pt;
		padding: var(--primary-padding) calc(var(--primary-padding) + 1%);
		outline: none !important;
		border: none !important;
		border-radius: 1000px;
		background-color: var(--box-color);
		height: calc(var(--searchbar-whitespace-height) - (6 * var(--primary-padding)));
	}
}
