#searchBar {
	width: 100%;
	height: var(--searchbar-whitespace-height);
	padding: calc(3 * var(--primary-padding)) 0;
	input[type='text'] {
		margin: auto;
		display: inline-block;
		width: 100%;
		max-width: 700px;
		font-size: 13pt;
		padding: var(--primary-padding) calc(var(--primary-padding) + 1%);
		outline: none !important;
		border: none !important;
		border-radius: 1000px;
		background-color: var(--box-color);
		height: calc(var(--searchbar-whitespace-height) - (6 * var(--primary-padding)));
	}
}

input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

.toggle {
	height: 32px;
	width: 52px;
	border-radius: 16px;
	display: inline-block;
	position: relative;
	margin: 0;
	border: 2px solid #474755;
	background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
	transition: all 0.2s ease;
	&:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: white;
		box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
		transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
	}
	&:checked {
		border-color: #654fec;
	}
	&:checked:after {
		transform: translatex(20px);
	}
}
