html {
	/*========================================================
    MAIN COLOR COLOURS
    ======================================================== */
	// text colors
	--primary-text-color: rgb(255, 255, 255);
	--secondary-text-color: rgb(139, 139, 146);
	--tertiary-text-color: rgb(71, 71, 74);

	// page background color
	--background-color: rgb(37, 41, 46);

	/*========================================================
    UI ELEMENT COLOURS
    ======================================================== */
	// box colours
	--box-color: rgb(47, 52, 56);
}
