html {
	// border radius
	--primary-border-radius: 14px;
	//controls space between boxes
	--primary-padding: 8px;
	// controls padding around secondary UI elements (eg: nothing yet :D )
	--secondary-padding: 6px;
	// space that the searchbar occupies at the top
	--searchbar-whitespace-height: 100px;
}
