html.lightMode {
	/*========================================================
    MAIN COLOR PROPERTIES
    ======================================================== */
	// text colors
	--primary-text-color: rgb(0, 0, 0);
	--secondary-text-color: rgb(138, 138, 143);
	--tertiary-text-color: rgb(196, 196, 198);

	// page background color
	--background-color: rgb(230, 230, 230);

	/*========================================================
    UI ELEMENT COLOURS
    ======================================================== */
	// box colours
	--box-color: rgb(255, 255, 255);
}
