* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cell-size: 80px;
}

body {
    margin: auto;
    width: fit-content;
    height: 100vh;
}

.grid {
    position: relative;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    height: calc(var(--row-count) * var(--cell-size));
    width: calc(var(--col-count) * var(--cell-size));
    border: 1px solid black;
}
