* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: fit-content;
    height: 100vh;
}

.row {
    display: flex;
    border: 1px solid black;
    height: 80px;
    width: fit-content;
}
.col {
    border: 1px solid black;
    width: 80px;
}
