#navbarContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	#navbar {
		padding: 0;
		color: black;
		span {
			color: var(--light-font-color);
			font-size: 25px;
			padding: 0 10px;
			margin: 15px;
		}
		width: 90%;
		background-color: #070707;
		border-radius: 0px 0px 10px 10px;
		box-shadow: var(--pretty-box-shadow-dark);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.searchBar {
			font-size: 15px;
			width: 70%;
			background-color: var(--background-major);
			color: var(--light-font-color);
			border-radius: 10px;
			border: none;
			padding: 5px 10px;
			&:focus {
				outline: none;
			}
		}
		a {
			text-decoration: none;
			color: var(--light-font-color);
			margin: 10px;
			font-size: 25px;
		}
		.nav-item {
			&.icon {
				margin: 10px;
				width: 30px;
				height: 30px;
				border-radius: 10px;

				svg {
					fill: var(--svg-col-prim);
				}
				&:hover {
					background-color: var(--background-major-inv);

					svg {
						fill: var(--svg-col-secon);
					}
				}
			}
		}
	}
}
