.presetButton {
	padding: 10px;
	margin: 15px 25px;
	display: inline-grid;
	span {
		font-weight: 500;
		padding: 5px;
	}
	img {
		border: 2px solid rgba(255, 255, 255, 0);
		border-radius: 15px;
	}
	&.selected {
		img {
			border: 2px solid #51a0d5 !important;
		}
	}
}
