.name {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.cont {
    float: left;
    @media screen and (max-width: 1000px) {
        width: 50%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }
    padding-bottom: 30px;
}