.linkContainer {
    position: relative;
    background-size: 42px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 78px;
    padding-right: 20px;
    min-height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.linkTitle {
    margin-top: 14pt;
    font-size: 13pt;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 25px;
}

.linkUrl {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0;
    opacity: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 25px;
}

.linkContainer,
.linkUrl,
.linkTitle {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
