html {
	background-color: rgb(37, 41, 46);
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	margin: 0;
}

.boxContainer {
	background-color: rgb(47, 52, 56);

	border-radius: 14px;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

html {
	--box-padding: 5px;
}

#root {
	width: 100vw;
}
.layout {
	width: 100vw;
}
