@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	color: var(--main-text-color);
	font-family: 'Manrope', sans-serif;
	box-sizing: border-box;
}

// this is how we address different themes
// default values (darkMode)
html {
	--main-bg-color: #292c30;
	--nav-bg-color: #000000;
	--box-modal-bg-color: #2f3439;
	--main-text-color: #ffffff;
	--column-border-col: #ffffff;
}

// setting up the custom vars
html {
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
	margin: 0;
}

a {
	text-decoration: none;
}

.buttonGeneral {
	margin: 10px;
	background: linear-gradient(to right, #55b49d, #2b7dca);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	padding: 5px 25px;
	color: white;
	font-size: 18px;
	border: none;
	outline: none;
	text-transform: capitalize;
	&:hover {
		filter: hue-rotate(90deg);
	}
}

// this class is used to blur the main content when a modal is visible
.MODAL_OPEN_CLASS {
	filter: blur(2px);
	-webkit-filter: blur(12px);
}

#betaWarning {
	width: 80%;
	margin: 10px auto 0px auto;
	#close {
		position: relative;
		left: -325px;
		top: 4px;
		opacity: 0.7;
		background-image: url('./assets/close.png');
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		display: inline-block;
		background-color: black;
		height: 20px;
		width: 20px;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		&:hover {
			opacity: 1;
			background-size: 15px;
		}
	}
}

#navWrapper {
	background: var(--nav-bg-color);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	align-items: center;
	font-size: calc(10px + 2vmin);
	width: calc(90% - 20px);
	margin: 20px auto;
	padding: 20px;
	border-radius: 15px;
	position: relative;
	top: 0;
	right: 0;
	.navTitle {
		margin: 0 !important;
		vertical-align: middle;
		display: inline-block;
		font-size: 26px;
	}
	#navIconContainer {
		display: inline;
		.navSubTitle {
			color: white;
			display: inline-block;
			font-size: 26px;
			font-weight: bold;
		}
	}
	#searchBar {
		border-radius: 15px;
		font-size: 25px;
		background-color: #121212;
		border: 1px solid #2f2f2f;
		color: #dddddd;
		min-width: 30%;
		padding-left: 15px;
		&:focus {
			outline: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}

#shortcutsContainer {
	.columnWrapper {
		float: left;
		border-style: dashed;
		border-width: 2px;
		border-radius: 15px;
		margin: 10px;
		width: calc(25% - 24px);
		@media screen and (max-width: 1000px) {
			width: 50%;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
		.boxContainer {
			.boxName {
				font-size: 150%;
				font-weight: 600;
				text-align: center;
				margin-bottom: 15px;
			}
			.boxContent {
				width: 85%;
				background: var(--box-modal-bg-color);
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
				border-radius: 25px;
				padding: 10px;
				margin: 0 auto;
				border-style: solid;
				border-color: rgba(255, 255, 255, 0.05);
				border-width: 2px;
				.linkLink {
					.linkContainer {
						position: relative;
						background-size: 42px;
						background-repeat: no-repeat;
						background-position-y: center;
						background-position-x: 20px;
						padding: 3px 20px 3px 78px;
						min-height: 50px;
						vertical-align: middle;
						overflow: hidden;
						.linkTitle {
							margin-top: 14pt;
							font-size: 13pt;
							display: block;
							text-overflow: ellipsis;
							overflow: hidden;
							max-height: 25px;
						}
						.linkUrl {
							color: rgba(255, 255, 255, 0.4);
							font-size: 0;
							opacity: 0;
							text-overflow: ellipsis;
							overflow: hidden;
							max-height: 25px;
						}
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.addButton {
		display: inline;
		cursor: pointer;
		min-width: 50px;
		min-height: 50px;
		background-color: rgba(255, 255, 255, 0.25);
		background-size: 25px;
		background-image: url('./assets/addIcon.png');
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;
		border-radius: 25px;
		border: none;
		padding: 10px;
		outline: none;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		&:hover {
			background-size: 0;
			background-color: rgba(255, 255, 255, 0.9);
			color: black;
			font-size: 13pt;
			max-width: 100%;
		}
	}
}

#settingsContainer {
	.setting {
		background: black;
		width: 40%;
		border-radius: 15px;
		padding: 15px;
		display: block;
		.settingBox {
			margin: 5px;
		}
	}
}

.modalWrapper {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	.modal {
		width: 85%;
		background: var(--box-modal-bg-color);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		padding: 10px;
		margin: 0 auto;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.05);
		border-width: 2px;
		z-index: 10001;
		max-width: 600px;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.newObjectButtonContainer {
	text-align: center;
}

.userInput {
	background: rgba(200, 200, 255, 0.2);
	text-align: left;
	border-radius: 25px;
	color: white;
	font-size: 20px;
	border: none;
	margin: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.05);
	border-width: 2px;
	padding: 7px 15px;
	height: 40px;
	display: block;
	overflow: hidden;
	outline: none;
}

.editLinkButton {
	cursor: pointer;
	width: 100%;
	max-width: 35px;
	min-height: 35px;
	background-color: rgba(255, 255, 255, 0.25);
	background-size: 25px;
	background-image: url('./assets/editIcon.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	border: none;
	padding: 20px;
	outline: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	&:hover {
		background-size: 30px;
		background-color: rgba(255, 255, 255, 0.9);
		color: black;
		font-size: 13pt;
		padding: 24px;
	}
}
.errorContainer {
	background-image: url('./assets/error.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position-y: 5px;
	background-position-x: 25px;
	margin: 10px auto;
	width: 100%;
	max-width: 100%;
	background-color: #b53d3d;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 25px;
}

.linkContainer,
.linkUrl,
.linkTitle {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

#selectContainer {
	background-color: black;
	padding: 5px;
	width: 40%;
	border-radius: 15px;
}

#expand {
	width: 15px;
	float: right;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.option {
	&:hover {
		font-size: 20px;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}
}

.timeline {
	height: 300px;
	overflow-x: hidden;
	overflow-x: auto;
}

/* colorPicker styles */
#colorPicker {
	max-width: 500px;
}

#picker {
	cursor: crosshair;
	border: 0;
	border-radius: 255px;
}

.container {
	display: flex;
	justify-content: center;
}

#preview {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	padding: 10px;
	height: 30px;
}

div {
	margin-left: auto;
	margin-right: auto;
}

.colorModals {
	width: auto;
}

img.img {
	border-radius: 150px;
}

.emailContainer {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;

	.emailLink {
		text-align: center;
		display: block;
		margin-top: 5px;
	}
}

#notes {
	text-align: center;
	max-height: 200px;
	#noteInput {
		font-size: 15px;
		resize: none;

		padding: 10px;
		border: none;
		background-color: rgba(255, 255, 255, 0.1);
		text-align: left;
		border-radius: 15px;
		width: 100%;
		min-height: 200px;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.199);
		}
		transition: background-color 0.3s ease;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;
		-ms-transition: background-color 0.3s ease;
	}
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.25);
}
