// this is the sass file for all the utility components
.errorContainer {
    background-image: url('../../assets/error.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 25px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    background-color: #b53d3d;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}
